<div class="posts">
    <div id="postFlex">
        <a href="/post/{{id}}">
            <h2>{{title}}</h2>
        </a>
        <p>By: {{user.user}} on {{formatDate created_at}}</p>
    </div>
    <div class="postText">
        <p>
            {{post_text}}
        </p>
    </div>

</div>